*pycache*
*pyc
src/data/*
src/logs/
.vscode
Docker/*
src/debug/
build/
docs/plan.md
*egg-info
src/fedlib/lib/fl/*
*ipynp_checkpoints*
*code-workspace
demo/data/*
*.sh
*.out
*.err
.DS_Store
data/
*logs/
**.ini
*.test/
